@font-face {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-stretch: normal;
	src: local("Space Mono"),
		url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
		url('../fonts/SpaceMono-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	font-stretch: normal;
	src:
		url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
		url('../fonts/LexendDeca-Regular.woff') format('woff');
}