@media (max-width: 1200px) {

	.container {
		padding: 0 40px;
	}

	.hero {
		margin-bottom: 122px;

		&::before {
			background-image: url('../images/yellow-arrow.svg');
			right: -213px;
			left: 0px;
			bottom: 74px;
			margin-left: auto;
			width: 735px;
		}
	}

	.instruction {
		margin-bottom: 139px;

		.instruction__item:nth-child(1)>.instruction__img::before {
			width: 900px;
		}
	}

	.features {
		margin-bottom: 104px;
	}

	.features-about {
		.features__item:nth-child(1)::after {
			transform: scale(1, 1);
		}
	}

	.values {
		&__list {
			gap: 35px;
		}

		&__text {
			-webkit-line-clamp: 6;
		}
	}

	.locations {
		&__map {
			height: 450px;
			width: 915px;
			margin: 0 auto 120px;
		}

		.new-york {
			left: 98px;
			top: 52px;
		}

		.london {
			left: 110px;
			top: -2px;
		}

		.yokohama {
			left: 279px;
			top: 53px;
		}

		.jakarta {
			left: 20px;
			top: 193px;
		}

		&__message {
			flex-direction: column;
			gap: 37px;
		}

		&__title {
			margin-right: 0;
			max-width: 457px;
			text-align: center;
		}

		&__text {
			margin-right: 0;
			max-width: 573px;
			text-align: center;
		}
	}
}

@media (max-width: 992px) {

	.header {
		.logo__img {
			margin-left: 0;
		}
	}

	.hero {

		background-position: 73% 100%;

		height: 650px;

		&__inner {
			max-width: 570px;
			margin: 0 auto;
			align-items: center;
			transform: translateY(47%);
		}

		&::after {
			content: '';
			position: absolute;
			background-image: url('../../images/circles.svg');
			width: 234px;
			height: 63px;
			left: 0;
			right: -31px;
			margin-left: auto;
			bottom: 46px;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/yellow-arrow.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			transform: scale(-1, 1);
			width: 732px;
			height: 150px;
			left: 0px;
			right: 444px;
			bottom: 35px;
		}

		&__title {
			max-width: 100%;
			text-align: center;
			margin-bottom: 17px;
		}

		&__text {
			width: 100%;
			text-align: center;
			margin-bottom: 32px;
		}

		&__button {
			margin-left: 0;
		}
	}

	.instruction {

		&__list {
			flex-direction: column;
			gap: 34px;
		}

		&__item {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: center;
			max-height: 175px;
			max-width: 100%;
		}

		.text {
			width: 400px;
		}

		&__img {
			margin-right: 79px;
		}

		.instruction__item:nth-child(1)>.instruction__img::before {
			left: -427px;
			width: 954px;
			top: -77px;
			rotate: 90deg;
		}
	}

	.features {
		&__item {
			max-height: 100%;
			align-items: center;
			flex-wrap: nowrap;
			text-align: center;
		}

		.features__item:nth-child(1)::before {
			right: -390px;
		}

		.features__item:nth-child(1)::after {
			right: -46px;
			bottom: 354px;
		}

		.features__item:nth-child(2)::after {
			left: -425px;
		}

		.features__item:nth-child(2)::before {
			left: -385px;
		}

		.features__item:nth-child(3)::after {
			right: -426px;
			top: 73px;
		}

		.features__item:nth-child(3)::before {
			right: -389px;
		}

		&__item:nth-child(1) img,
		&__item:nth-child(3) img {
			order: -1;
		}

		.title {
			line-height: 48px;
			padding-bottom: 5px;
			margin-top: 56px;
			margin-bottom: 35px;
		}

		.text {
			max-width: 573px;
		}

		.features__item:not(:last-child) {
			margin-bottom: 128px;
		}

		.features__item:nth-child(2) {
			margin-bottom: 122px;
		}

		&__item:nth-child(2) img {
			margin-bottom: 10px;
		}

		&__item:nth-child(3) img {
			margin-bottom: 6px;
		}



	}

	.features-about {
		.features__item {
			flex-direction: column;
			gap: 55px;
		}

		.features__item:nth-child(1)::after {
			transform: scale(1, -1);
			bottom: 273px;
			right: -45px;
		}

		.features__item:nth-child(1)::before {
			right: -388px;
		}

		.features__item:nth-child(2)::after {
			left: -425px;
		}

		.features__item:nth-child(2) img {
			margin-bottom: 0;
		}

		.title {
			margin-bottom: 31px;
		}

		.text {
			max-width: 573px;
		}
	}

	.about {
		margin-bottom: 145px;

		&__title {
			margin: 0 0 0 57px;
		}

	}

	.values {
		&__list {
			flex-direction: column;
			align-items: center;
			gap: 56px;
		}

		&__item {
			max-width: 457px;
		}
	}

	.faqs {
		margin-bottom: 86px;

		.title {
			margin-bottom: 56px;
		}

		&__info {
			display: flex;
			gap: 0;
			flex-direction: column;
			margin-bottom: 46px;
			align-items: center;
		}

		&__block {
			margin-bottom: 22px;
		}

		&__headline {
			margin: 36px 0 24px 40px;
		}

		& input:checked+.faqs__block .faqs__headline {
			margin: 36px 0 24px 40px;
		}

		&__title {
			text-align: center;
			margin-bottom: 28px;
		}

		&__text {
			margin: 0 28px 32px 40px;
		}

		.arrow {
			right: 33px;
			top: 38%;
		}
	}

	.careers-top {
		margin-bottom: 143px;

		.title {
			margin: 0 0 0 57px;
		}
	}

	.careers-feature {
		margin-bottom: 121px;

		.features__item {
			flex-direction: column;
			align-items: center;
			flex-wrap: nowrap;
			gap: 64px;
		}

		.features__item:nth-child(1)::after {
			right: -45px;
			bottom: 362px;
		}

		.features__item:nth-child(1)::before {
			right: -391px;
		}

		.title {
			margin-bottom: 30px;
		}

		.features__link {
			margin: 0 auto;
		}

		.text {
			max-width: 573px;
		}
	}

	.positions {
		margin-bottom: 127px;

		&__item {
			height: 120px;
			padding: 32px 49px 0 47px;
		}
	}

	.locations {
		&__map {
			height: 337px;
			width: 689px;
			margin: 0 auto 65px;
		}

		&__btn {
			width: 120px;
			height: 32px;
			font-size: 13px;
			line-height: 28px;
			letter-spacing: -0.58px;

			&::before {
				width: 11px;
				height: 11px;
				bottom: -5px;
			}
		}

		.new-york {
			left: 97px;
			top: 51px;
		}

		.london {
			left: 107px;
			top: 23px;
		}

		.yokohama {
			left: 261px;
			top: 64px;
		}

		.jakarta {
			left: 78px;
			top: 168px;
		}
	}

	.footer {

		.logo__img {
			margin-left: 0;
		}

		.app {
			flex-direction: column;
			justify-content: start;
			text-align: center;

			.title {
				margin-top: 62px;
				margin-bottom: 31px;
			}

			.appstore {
				width: 114px;
				height: 40px;
			}

			.googleplay {
				width: 130px;
				height: 40px;
			}

			&__list {
				gap: 12px;
			}
		}

	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 32px;
	}

	.header {

		.menu {
			grid-template-columns: 1fr;
			justify-items: center;
			height: 64px;
			position: relative;
		}

		.burger-menu {
			display: inline-block;
			background-image: url('../images/burger-menu.svg');
			width: 20px;
			height: 16px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			transition: all 0.3s;
		}

		.burger-menu.burger-menu--active {
			background-image: url('../images/burger-close.svg');
		}

		.menu__button {
			position: absolute;
			left: 0;
			top: 80vh;
			z-index: 6;
			transform: translateX(-140%);
			transition: all 0.3s;
		}

		.menu__button.menu__button--active {
			transform: translateX(0);
		}

		.menu__list {
			flex-direction: column;
			position: absolute;
			z-index: 5;
			top: 0;
			margin-top: 64px;
			left: -32px;
			width: 100vw;
			padding-left: 32px;
			transform: translateX(-110%);
			transition: all 0.3s;
			gap: 0;

			&::after {
				content: '';
				position: absolute;
				z-index: -1;
				background-color: $darkNavy;
				width: 80vw;
				height: 90vh;
				left: -31px;
			}

			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				background-color: #000;
				opacity: 0;
				width: 100vw;
				height: 90vh;
				padding-left: 32px;
				transition: all 0.5s;
			}
		}

		.menu__link:first-child{
			margin-top: 32px;
		}

		.menu__list.menu__list--active {
			transform: translateX(0%);

			&::before {
				opacity: 0.7;
			}
		}

		.logo {
			margin-right: 0;
		}

		.logo__img {
			object-fit: contain;
			width: 76px;
		}
		


	}

	.hero {

		margin-bottom: 120px;

		&__inner {
			transform: translateY(33%);
		}

		&__title {
			font-size: 40px;
			font-family: Space Mono;
			font-weight: 700;
			line-height: 40px;
			letter-spacing: -1.786px;
		}

		&::after {
			display: none;
		}

		&::before {
			right: 233px;
			bottom: 30px;
		}
	}

	.instruction {
		margin-bottom: 106px;

		&__item {
			flex-wrap: nowrap;
			max-height: 100%;
			align-items: center;
			gap: 24px;
			margin-bottom: 13px;
		}

		&__img {
			margin-right: 0;
			margin-bottom: 0;
		}

		&__img svg {
			width: 56px;
			height: 56px;
		}

		&__img::before {
			display: none;
		}

		&__title {
			margin-bottom: 0px;
			font-size: 20px;
		}

		.text {
			text-align: center;
			width: 100%;
		}
	}

	.features {
		margin-bottom: 117px;

		&__item::before {
			display: none;
		}

		&__img {
			max-width: 311px;
			max-height: 311px;
		}

		.features__item:not(:last-child) {
			margin-bottom: 120px;
		}

		.features__item:nth-child(1)::after {
			right: -424px;
			bottom: 381px;
		}

		.features__item:nth-child(2)::after {
			left: -504px;
			top: -7px;
		}

		.features__item:nth-child(2) img {
			margin-bottom: 0;
		}

		.features__item:nth-child(3)::after {
			right: -553px;
			top: -3px;
		}

		.features__item:nth-child(3) img {
			margin-bottom: 0px;
		}

		.title {
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -1.429px;
			margin-bottom: 29px;
		}

		.text {
			margin-bottom: 31px;
		}
	}

	.top {
		height: 160px;
		margin-bottom: 72px;

		.title {
			margin: 0 auto;
			max-width: 100%;
			text-align: center;
			font-size: 40px;
		}
	}

	.about {
		background-image: url('../images/about-bg-mobile.jpg');


		&::after {
			display: none;
		}
	}

	.features-about {
		.features__item:nth-child(1)::after {
			bottom: 285px;
			right: -423px;
		}

		.title {
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -1.429px;
			height: 100%;
			margin-bottom: 24px;
		}
	}

	.values {
		&__list {
			margin-bottom: 142px;
		}

		.title {
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -1.429px;
			margin-bottom: 50px;
		}

		&__img {
			margin-bottom: 65px;
		}

		&__number {
			bottom: -47px;
		}
	}

	.faqs {
		margin-bottom: 105px;

		.title {
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -1.429px;
			margin-bottom: 39px;
		}

		&__info {
			margin-bottom: 32px;
		}

		&__title {
			font-size: 24px;
			line-height: 28px;
			letter-spacing: -1.071px;
			margin-bottom: 32px;
		}

		&__block {
			margin-bottom: 16px;
			max-height: 112px;
		}

		&__headline {
			font-size: 18px;
			line-height: 24px;
			letter-spacing: -0.804px;
			-webkit-line-clamp: 2;
			margin: 32px 0 24px 32px;
		}

		input:checked+.faqs__block .faqs__headline {
			margin: 31px 0 24px 32px;
		}

		input:checked+.faqs__block {
			max-height: 400px;
		}

		&__text {
			margin: 0 28px 32px 32px;
		}

		.arrow {
			right: 29px;
			top: 52%;
		}
	}

	.careers-top {
		&::after {
			display: none;
		}
	}

	.careers-feature {
		.features__item:nth-child(1)::after {
			right: -423px;
			bottom: 383px;
		}

		.title {
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -1.429px;
			margin-bottom: 23px;
		}

		.text {
			margin-bottom: 31px;
			max-width: 450px;
		}

		.features__item {
			gap: 56px;
		}
	}

	.positions {
		margin-bottom: 122px;

		&__list {
			gap: 16px;
			max-width: 420px;
			width: 100%;
			margin: 0 auto;
		}

		&__title {
			font-size: 18px;
			line-height: 24px;
			letter-spacing: -0.804px;
			width: 100%;
			text-align: center;
			margin-bottom: 4px;
			margin-top: 38px;
		}

		&__item {
			height: 190px;
			padding: 0;
			align-items: center;
		}

		&__city {
			text-align: center;
			margin-bottom: 10px;
		}

		.button {
			width: 247px;
		}
	}

	.locations {
		margin-bottom: 73px;

		&__map {
			width: 331px;
			height: 152px;
			margin: 0 auto 448px;
			position: relative;
		}

		.yellow-circles {
			display: inline-block;

			&>li:nth-child(1),
			&>li:nth-child(2),
			&>li:nth-child(3),
			&>li:nth-child(4) {
				position: absolute;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: $yellow;
			}


			&>li:nth-child(1) {
				top: 34px;
				left: 68px;
			}

			&>li:nth-child(2) {
				top: 21px;
				left: 133px;
			}

			&>li:nth-child(3) {
				top: 86px;
				left: 237px;
			}

			&>li:nth-child(4) {
				top: 41px;
				left: 259px;
			}
		}

		&__btn {
			display: flex;
			position: relative;
			margin-bottom: 10px;
			width: 311px;
			height: 72px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 24px;
			line-height: 28px;
			letter-spacing: -1.071px;
			background-color: #FCB72B26;
		}

		&__btn::before {
			display: none;
		}

		.new-york {
			left: 0px;
			top: 192px;
		}

		.london {
			left: 0px;
			top: 197px;
		}

		.yokohama {
			left: 0;
			top: 292px;
		}

		.jakarta {
			left: 0;
			top: 122px;
		}

		&__title {
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -1.429px;
		}

		&__message {
			gap: 29px;
		}
	}

	.footer {
		&::after {
			height: 100%;
		}

		&::before {
			height: 320px;
		}

		.app {
			height: 321px;

			.title {
				font-size: 32px;
				line-height: 32px;
				letter-spacing: -1.429px;
				margin-top: 88px;
			}
		}

		.menu {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.menu__list {
			flex-direction: column;
			align-items: center;
			margin-bottom: 85px;
			gap: 16px;
		}

		.logo {
			margin-right: 0;
			margin-top: 64px;
			margin-bottom: 42px;
		}

		.social {
			margin-bottom: 88px;
		}
	}
}