<section class="positions">
	<h2 class="careers-positions sr-only">Careers positions</h2>
	<div class="container">
		<ul class="positions__list">

			<li class="positions__item">
				<h3 class="positions__title">
					General Manager
				</h3>
				<address class="positions__city">
					Jakarta, Indonesia
				</address>
				<button class="button">
					Apply
				</button>
			</li>

			<li class="positions__item">
				<h3 class="positions__title">
					UI/UX Designer
				</h3>
				<address class="positions__city">
					Yokohama, Japan
				</address>
				<button class="button">
					Apply
				</button>
			</li>

			<li class="positions__item">
				<h3 class="positions__title">
					Blog Content Copywriter
				</h3>
				<address class="positions__city">
					New York, United States
				</address>
				<button class="button">
					Apply
				</button>
			</li>

			<li class="positions__item">
				<h3 class="positions__title">
					Fleet Supervisor
				</h3>
				<address class="positions__city">
					Jakarta, Indonesia
				</address>
				<button class="button">
					Apply
				</button>
			</li>

			<li class="positions__item">
				<h3 class="positions__title">
					General Manager
				</h3>
				<address class="positions__city">
					Jakarta, Indonesia
				</address>
				<button class="button">
					Apply
				</button>
			</li>

			<li class="positions__item">
				<h3 class="positions__title">
					UX Analyst
				</h3>
				<address class="positions__city">
					London, United Kingdom
				</address>
				<button class="button">
					Apply
				</button>
			</li>
		</ul>
	</div>
</section>