<div class="careers-feature">
	<h2 class="careers-feature__title sr-only">Careers feature</h2>
	<div class="container">
		<div class="features__item">

			<div class="features__context">
				<h3 class="title">
					Care to join our mission?
				</h3>
				<div class="text">
					<p>
						We’re always looking for ambitious individuals to help us on our journey. If you’re passionate about our
						mission to provide clean, accessible transport to improve urban living we want to hear from you!
					</p>
				</div>
				<a class="features__link button" href="#">
					Say Hello
				</a>
			</div>

			<img class="features__img" src="../images/careers-feature-img-1.avif" alt="Image - Care to join our mission?"
				width="445" height="445">
				
		</div>
	</div>
</div>

