<section class="faqs">
	<div class="container">
		<h2 class="title">
			FAQs
		</h2>
		<div class="faqs__info">
			<h3 class="faqs__title">
				How it works
			</h3>

			<input type="checkbox" name="detail-1" id="detail-1" />
			<div class="faqs__block">
				<label class="faqs__headline" for="detail-1">
					How do I download the app?
					<span class="arrow"></span>
				</label>
				<div class="faqs__text">
					<p>
						To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler
						way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the
						correct page.
					</p>
				</div>
			</div>

			<input type="checkbox" name="detail-2" id="detail-2" />
			<div class="faqs__block">
				<label class="faqs__headline" for="detail-2">
					Can I find a nearby Scoots?
					<span class="arrow"></span>
				</label>
				<div class="faqs__text">
					<p>
						To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler
						way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the
						correct page.
					</p>
				</div>
			</div>

			<input type="checkbox" name="detail-3" id="detail-3" />
			<div class="faqs__block">
				<label class="faqs__headline" for="detail-3">
					Do I need a license to ride?
					<span class="arrow"></span>
				</label>
				<div class="faqs__text">
					<p>
						To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler
						way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the
						correct page.
					</p>
				</div>
			</div>
		</div>

		<div class="faqs__info">
			<h3 class="faqs__title">
				Safe driving
			</h3>

			<input type="checkbox" name="safe-1" id="safe-1" />
			<div class="faqs__block">
				<label class="faqs__headline" for="safe-1">
					Should I wear a helmet?
					<span class="arrow"></span>
				</label>
				<div class="faqs__text">
					<p>
						Yes, please do! All cities have different laws. But we strongly strongly strongly recommend always wearing a helmet regardless of the local laws. We like you and we want you to be as safe as possible while Scooting.
					</p>
				</div>
			</div>

			<input type="checkbox" name="safe-2" id="safe-2" />
			<div class="faqs__block">
				<label class="faqs__headline" for="safe-2">
					How about the rules & regulations?
					<span class="arrow"></span>
				</label>
				<div class="faqs__text">
					<p>
						To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler
						way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the
						correct page.
					</p>
				</div>
			</div>

			<input type="checkbox" name="safe-3" id="safe-3" />
			<div class="faqs__block">
				<label class="faqs__headline" for="safe-3">
					What if I damage my Scoot?
					<span class="arrow"></span>
				</label>
				<div class="faqs__text">
					<p>
						To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler
						way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the
						correct page.
					</p>
				</div>
			</div>

		</div>
</section>