<section class="features">
	<div class="container">
		<h2 class="sr-only">Our features</h2>
		<ul class="features__list">

			<li class="features__item">
				<h3 class="title">
					Easy to use
					riding telemetry
				</h3>
				<div class="text">
					<p>
						The Scoot app is available with riding telemetry. This means it can show you your average speed, how long
						you've been using the scooter, your traveling distance, and many more things all in an easy to use app.
					</p>
				</div>
				<a class="features__link button" href="#">
					Learn More
				</a>
				<img class="features__img" src="../images/features-img-1.avif" onerror="this.src = '../images/features-img-1.webp'" alt="Easy to use riding telemetry" width="445"
					height="445">
			</li>

			<li class="features__item">
				<h3 class="title">
					Coming to a city near you
				</h3>
				<div class="text">
					<p>
						Scoot is available in 4 major cities so far. We’re expanding rapidly, so be sure to let us know if you want
						to
						see us in your hometown. We’re aiming to let our scooters loose on 23 cities over the coming year.
					</p>
				</div>
				<a class="features__link button" href="#">
					Learn More
				</a>
				<img class="features__img features__img--order" src="../images/features-img-2.avif" onerror="this.src = '../images/features-img-2.webp'"
					alt="Coming to a city near you" width="445" height="445">
			</li>

			<li class="features__item">
				<h3 class="title">
					Zero hassle payments
				</h3>
				<div class="text">
					<p>
						Our payment is as easy as one two three. We accept most credit cards and debit cards. You can also link your
						PayPal account inside the app. Need to pay later? No worries! You can defer payment for up to a month.
					</p>
				</div>
				<a class="features__link button" href="#">
					Learn More
				</a>
				<img class="features__img" src="../images/features-img-3.avif" onerror="this.src = '../images/features-img-3.webp'" alt="Zero hassle payments" width="445"
					height="445">
			</li>
		</ul>
	</div>
</section>