</main>
<footer class="footer">
	<div class="container">
		<h2 class="sr-only">Navigation panel</h2>

		<div class="app">
			<h3 class="title">Sign up and Scoot off today</h3>
			<ul class="app__list">
				<li class="app__item">
					<a class="app__link" href="#" style="background-image: url('../../images/icon-appstore.avif'); width: 159px;">
						<span class="sr-only">Our app in the App Store</span>
					</a>
				</li>
				<li class="app__item">
					<a class="app__link" href="#"
						style="background-image: url('../../images/icon-googleplay.avif'); width: 182px;">
						<span class="sr-only">Our app in the Google Play</span>
					</a>
				</li>
			</ul>
		</div>

		<nav class="menu">
			<a class="logo" href="#">
				<img class="logo__img" src="images/src/logo.svg" alt="logo" width="112" height="28">
			</a>
			<ul class="menu__list">
				<li>
					<a class="menu__link" href="#">About</a>
				</li>
				<li>
					<a class="menu__link" href="#">Location</a>
				</li>
				<li>
					<a class="menu__link" href="#">Careers</a>
				</li>
			</ul>

			<ul class="social">
				<li class="social__item">
					<a class="social__link" href="#" aria-label="Go to our Facebook">
						<div class="social__icon"
							style="-webkit-mask-image: url('../images/sprite.svg#icon-facebook'); width: 24px; height: 24px;"></div>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" aria-label="Go to our Twitter">
						<div class="social__icon"
							style="-webkit-mask-image: url('../images/sprite.svg#icon-twitter'); width: 24px; height: 20px;"></div>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" aria-label="Go to our Intagram">
						<div class="social__icon"
							style="-webkit-mask-image: url('../images/sprite.svg#icon-instagram'); width: 24px; height: 24px;"></div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
</div>

<script src="js/main.min.js"></script>
</body>

</html>