<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<nav class="menu">
					<a class="logo" href="#" aria-label="logotype" style="background-image: url('../images/src/logo.svg');"></a>
					<ul class="menu__list">
						<li>
							<a class="menu__link" href="#">About</a>
						</li>
						<li>
							<a class="menu__link" href="#">Location</a>
						</li>
						<li>
							<a class="menu__link" href="#">Careers</a>
						</li>
					</ul>
					<button class="menu__button button">
						<span>Get Scootin</span>
					</button>
				</nav>
			</div>
		</header>
		<main class="main">