<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scooter sharing - Pick your scooter easy</title>

	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/site.webmanifest">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<nav class="menu">
					<span class="burger-menu"></span>
					<a class="logo" href="#">
						<img class="logo__img" src="images/logo.svg" alt="logo" width="107" height="29">
					</a>
					<ul class="menu__list">
						<li>
							<a class="menu__link" href="#">About</a>
						</li>
						<li>
							<a class="menu__link" href="#">Location</a>
						</li>
						<li>
							<a class="menu__link" href="#">Careers</a>
						</li>
					</ul>
					<button class="menu__button button" type="button">
						<span>Get Scootin</span>
					</button>
				</nav>
			</div>
		</header>
		<main class="main">