<section class="hero" style="	background-image: url('../images/hero-bg.avif'); max-height: 650px;">
	<h1 class="sr-only">Scooter sharing</h1>
	<div class="container">
		<div class="hero__inner">
			<h2 class="hero__title">Scooter sharing made simple</h2>
			<p class="hero__text">
				Scoot takes the hassle out of urban mobility. Our bikes are placed in convenient locations in each of our cities. Use our app to locate the nearest bike, unlock it with a tap, and you’re away!
			</p>
			<button class="hero__button button" type="button">
				<span>Get Scootin</span>
			</button>
		</div>
	</div>
</section>