<section class="careers-top top"
	style="background-image: url('../images/careers-top-bg.avif'); max-width: 1440px; height: 200px;">
	<div class="container">
		<h2 class="careers-top__title title">
			Locations
		</h2>
	</div>
</section>

<section class="locations">
	<div class="container">
		<div class="locations__map" style="background-image: url('../../images/map.avif'); width: 1110px; height: 543px;">
			<button class="locations__btn new-york" type="button">
				New York
			</button>
			<button class="locations__btn london" type="button">
				London
			</button>
			<button class="locations__btn yokohama" type="button">
				Yokohama
			</button>
			<button class="locations__btn jakarta" type="button">
				Jakarta
			</button>
		</div>

		<div class="locations__message">
			<h3 class="locations__title title">
				Your City Not Listed?
			</h3>
			<div class="locations__text text">
				<p>
					If you’d like to see Scoot in your hometown, be sure to let us know. We track requests and plan launches based on demand. Feel free to message us by clicking the link or messaging us on social.
				</p>
			</div>
			<button class="button" type="button">Message Us</button>
		</div>
	</div>
</section>