.features {
	margin-bottom: 200px;

	&__item {
		max-height: 445px;
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-between;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			background-image: url('../../images/yellow-arrow.svg');
			width: 740px;
			height: 151px;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../images/grey-round.svg');
			width: 445px;
			height: 445px;
		}

		&:nth-child(1) {
			&::after {
				right: -164px;
				bottom: -5px;
			}

			&::before {
				right: -509px;
			}
		}

		&:nth-child(2) {
			&::after {
				left: -549px;
				top: 0;
				transform: scaleX(-1);
			}

			&::before {
				left: -508px;
			}
		}

		&:nth-child(3) {
			&::after {
				right: -543px;
				top: 77px;
			}

			&::before {
				right: -509px;
			}
		}
	}

	&__item:not(:last-child) {
		margin-bottom: 160px;
	}

	&__item:nth-child(2) img {
		order: -1;
	}

	.title {
		margin-top: 66px;
		margin-bottom: 20px;
		height: 100px;
	}

	.text {
		margin-bottom: 39px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: normal;
	}

	&__img {
		object-fit: cover;
		border-radius: 50%;
	}
}