.instruction {
	margin-bottom: 200px;

	&__list {
		display: flex;
		gap: 30px;
	}

	&__item {
		max-width: 350px;
		width: 100%;
	}

	&__item:nth-child(1)>.instruction__img {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			border-top: 15px solid $lightGrey;
			left: -176px;
			width: 954px;
			z-index: -1;
			top: 38px;
		}
	}

	&__img {
		display: inline-block;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 35px;
	}

	&__title {
		@extend %space-24;
		margin-bottom: 27px;
		text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	}

	.text {
		max-height: 179px;
		color: $dimGrey;
	}
}