.instruction {
	margin-bottom: 200px;

	&__list {
		display: flex;
		gap: 30px;
	}

	&__item {
		max-width: 350px;
		width: 100%;
	}

	&__img {
		display: inline-block;
		width: 96px;
		height: 96px;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 40px;
	}

	.icon-app {
		background-image: url('../../images/icon-app.svg');
		position: relative;

		&::before {
			content: '';
			position: absolute;
			border-top: 15px solid $lightGrey;
			left: -176px;
			width: 954px;
			z-index: -1;
			top: 38px;
		}
	}

	.icon-scooter {
		background-image: url('../../images/icon-scooter.svg');
	}

	.icon-enjoy {
		background-image: url('../../images/icon-enjoy.svg');
	}

	&__title {
		@extend %space-24;
		margin-bottom: 27px;
		text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	}

	&__text {
		@extend %lexend;
		color: $dimGrey;
		max-height: 179px;
    overflow: hidden;
	}
}